@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
:root{
    --color-text-old: rgba(231, 81, 81, 0.877);
    /*#FFFCE6 bl : #88E3D5 bei: FFFCE6*/
    --color-text: #FFFCE6;
    --color-text-inv: rgba(231, 81, 81, 0.877);
    --color-click: #88E3D5;
   	--color-mouv:rgba(136,227,213,0.877);

    --shadow-text: 1.5px 1px 2px rgba(0, 0, 0, 0.7);
    --shadow-text2: 1.3px 1px 1px rgba(0, 0, 0, 0.65);
    --shadow-text-incrust: -1px -1px 0 rgba(39 15 22 ), 1px 2px 0 rgba(219, 162, 118, 0.486);
    
    --shadow-box: 0.17rem 0.2rem 0.6rem rgba(0, 0, 0, 0.938);
    --shadow-box-active: 0.1rem 0.1rem 3.5px rgba(0, 0, 0, 0.938);
}

body {
    background: url(./bois_bgv2.jpg) center/cover;
    display:flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

* {
    /* border: 1px solid whitesmoke  */
    /*! margin-top: 20%; */
}

:disabled {
    cursor: default;
}

header {
    margin: 20px;
    padding: 0px;
}

h1 {
    text-transform: uppercase;
    color: var(--color-text);
    text-align: center;
    font-family: 'Courgette', serif;
    font-size: 5.2em;
    text-shadow: var(--shadow-text);
}

h2 {
    color: var(--color-text);
    text-align: center;
    font-family: 'Courgette', serif;
    font-size: 3.5em;
    text-shadow: var(--shadow-text);
}

.create_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-y: scroll;   
}

.create_bg {
    background: url(./parchment.png) no-repeat center/cover;
    height: 450px;
    width: 550px;
    

}

.create_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    padding: 75px;
    color: var(--color-text-inv);
    font-family: 'Courgette', serif;
    font-size: 1.5em;
    text-shadow: var(--shadow-text2);
}

.form_content {
    color: var(--color-text-inv);
    font-family: 'Courgette', serif;
    font-size: 1.5em;
    text-shadow: var(--shadow-text);
    position: absolute;
    top: 15%;
    bottom: 15%;
    right: 15%;
    left: 15%;
}

#create-numb {
    width: 100px;
}

.carte_bg {    
	background: url(./papier.jpg) no-repeat center/cover;
    padding: 17px;

}



/*.cadre_carte {
	
	flex-direction: row;
	justify-content: center;
}*/

.b_retour {
    position: absolute;
    bottom: 2em;
    right: 2em;

    height: 65px;
    width: 130px;
    background: url(./bois_button.jpg) right;

    color: var(--color-click);
    font-family: 'Courgette', serif;
    font-size: 1.9em;
    text-shadow: var(--shadow-text);

    border-radius: 1.7em;
    box-shadow: var(--shadow-box);
    border: 0px;
}

.b_accueil {
    text-align: center;
    margin: 50px;
       
}

.b_accueil_int {
    height: 100px;
    width: 300px;
    margin-bottom: 40px;
    background: url(./bois_button.jpg) center;

    color: var(--color-click);
    font-family: 'Courgette', serif;
    font-size: 2.2em;
    text-shadow: var(--shadow-text-incrust);

    border-radius: 1.7em;
    box-shadow: var(--shadow-box);
    border: 0;
    
}


button:hover, input[type="submit"]:hover {
    /* background: url(./boisbutton_1280_s.jpg);    */
}

.b_retour:active, .b_accueil_int:active {
    box-shadow: var(--shadow-box-active);
}

.connexion_bg {
    background: url(./parchment.png) no-repeat center/cover;
    height: 500px;
    width: 600px;
    margin-left: 17%;
   
}

.connexion_content {
    margin: 90px;
    margin-top: 80px;

    color: var(--color-text-inv);
    font-family: 'Courgette', serif;
    font-size: 1.5em;
    text-shadow: var(--shadow-text2);
}

.menu_bg {
	background: url() no-repeat center/cover;
    height: 500px;
    width: 600px;
    margin-left: 17%;
}

.b_creer {
}
	

.z-text {
    background: none;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.384);

    color: var(--color-text-old);
    text-shadow: var(--shadow-text2);
    font-family: 'Courgette', serif;
    font-size: 1.4em;
    
    width: 98%;
}

.z-text:focus {
    outline: none;
    border: 0;
    border-bottom: 2px solid rgba(209, 174, 16, 0.671);
}

.b_connexion {
    background: none;
    border: none;
    margin-top: 12px;
    margin-bottom: 12px;
    
    color: var(--color-click);
    text-shadow: var(--shadow-text);

    font-family: 'Courgette', serif;
    font-size: 0.8em;
    font-weight: bold;

    border-radius: 30%;
    padding: 8px;
}

#b_principal {
    font-size: 1em;
}

.b_connexion:hover {
    background: rgba(0, 0, 0, 0.08);
}

.b_connexion:active {
    background: rgba(0, 0, 0, 0.15);
}

.b_connnexion::-moz-focus-inner {
    border: 0;  
}

.cadre_bateau {
	height: 50vh;
}

.shooner {
	display: flex;
	background: url(./shooner.jpg) center/cover;
	width: 200px;
	height: 50vh;
}

.planche_container {
    display: flex;
    align-items: baseline;
}

.planche {
    background: url(./planche.jpg) no-repeat center/cover;
    padding: 30px;
    height: 1.1em;
    width: 10em;
    text-align: center;
    color: var(--color-text);
    font-family: 'Courgette', serif;
    font-size: 2em;
    text-shadow: var(--shadow-text-incrust);
    border-radius: 5%;
    box-shadow: var(--shadow-box);
}

#planche1 {
    position: absolute;
    top: 75%;
    left: 10%;
}

#planche2 {
    position: absolute;
    bottom: 65%;
    right: 13%;
}

#planche_menu {
	margin-bottom: 2em;
}

.cadre_menu {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bateaux {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.center_bateau {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio_bateau {
    margin: 3px;
}

.radio_bateau:checked + .cadre_bateau {
    border: 2px solid blue;
}

.cadre_bateau {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: rgba(0, 0, 0, 0.315);
    padding: 5px;
}

.nom_bateau {
    color: var(--color-text);
    font-family: 'Courgette', serif;
    font-size: 1.8em;
    text-shadow: var(--shadow-text);
}

.schooner {
    display: flex;
    background: url(./ACRO_Schooner.png) center/cover;
    width: 19em;
    height: 18em;
}

.brick {
    display: flex;
    background: url(./ACRO_Brick.png) center/cover;
    width: 19em;
    height: 18em;
}

.fregate {
    display: flex;
    background: url(./ACRO_Fregate.png) center/cover;
    width: 19em;
    height: 18em;
}

.galion {
    display: flex;
    background: url(./ACRO_Man_o_war.png) center/cover;
    width: 19em;
    height: 18em;
}

.stats {
    padding: 20px;
    color: var(--color-text);
    font-family: 'Courgette', serif;
    font-size: 1.2em;
    text-shadow: var(--shadow-text);
}

.form_choix {
    display: flex;
    flex-direction: column;
}

.cadre_pret {
	text-align: center;
}

/* Bonus */
.bonus_container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-text);
    font-family: 'Courgette', serif;
    font-size: 1.2em;
    text-shadow: var(--shadow-text);
    width: 95%;
    
    height: 30%;
} 

.bonus_ligne {
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
}

.b_bonus {
    justify-content: center;
    width: 150px;
    border: 1px solid var(--color-text); 
    padding: 3px;
    border-radius: 13px 5%;
    margin-right: 10px;
    
    color: var(--color-text);
    font-family: 'Courgette', serif;
    font-size: 1em;
    text-shadow: var(--shadow-text);
    
    box-shadow: var(--shadow-box);
}

#espion {
    background: black; 
}

#sabotage {
    background: #008bff; 
}

#faucon {
    background: #84b900; 
}

#barils {
    background: brown; 
}

#kraken {
    background: purple; 
}

.b_bonus:active {
    box-shadow: var(--shadow-box-active);
}

.b_bonus:disabled {
    background: grey !important;
}

.full-height-flex {
	display: flex;
	align-items: stretch;
	height: 100%;
	width: 100%;
}

.deplacement_container {
/*    border: 1px solid rgb(15, 15, 15);*/
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
	height: 30%;
}

.shoot_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(2, 50, 95);    
    height: 40%;
    
} 

.tirer {
    display:flex;
    flex-direction: column;
    align-items: center; 
    color: var(--color-text);
    font-family: 'Courgette', serif;
    font-size: 1.6em;
    text-shadow: var(--shadow-text);
    
}
    
.b_tirer {
    height: 74px;
    width: 110px;
    background: url(./canon.png) center/cover;
    margin-bottom: 7px;
    border-radius: 1.7em;
    box-shadow: var(--shadow-box);
    border: 1px solid var(--color-text); 
    
    background-color: #dfc19b;
}

.b_tirer:disabled {
    background-color: gray;
}

.droite {
    display: flex;
    flex-direction : column;
    justify-content: space-between;
    align-items: center;
    width:20%;
/*    border: 1px solid rgb(0, 17, 255);*/
}


.centre {
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
    width:60%;
/*    border: 1px solid rgb(9, 255, 0);*/
	overflow-y: scroll;

}


.gauche {
    display: flex;
    flex-direction : column;
    justify-content: space-between;
    align-items: center;
    width:20%;
/*    border: 1px solid red;*/
}

.mv_haut {
	background: url(./bouton2.png) no-repeat center/cover;
	transform: rotate(-90deg);
	height: 55px;
    width: 50px;
	border: 0px;
	color: var(--color-click);
	
}

.mv_bas {

    background: url(./bouton2.png) no-repeat center/cover;
	transform: rotate(90deg);
    height: 55px;
    width: 50px;
    border: 0px;
    color: var(--color-click);


}

.ligne_depl {
    display: flex;
    justify-content: center;
    width: 160px;
}

#ligne_centre {
    justify-content: space-between;
}

.mv_gauche {

    background: url(./bouton2.png) no-repeat center/cover;
    transform: scaleX(-1);
    height: 55px;
    width: 50px;
    border: 0px;
    color: var(--color-click);
}

.mv_droite {

    background: url(./bouton2.png) no-repeat center/cover;
    height: 55px;
    width: 50px;
    border: 0px;
    color: var(--color-click);
    
}

/* Tour suivant */
.tour_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
}

.t_suivant {
    display:flex;
    flex-direction: column;
    align-items: center;
    
    color: var(--color-text);
    font-family: 'Courgette', serif;
    text-shadow: var(--shadow-text);
    font-size: 1.6em;
    
    
}

.b_t_suivant {
    display: flex;
    width: 50px;
    height: 50px;
    
    border: 3px solid var(--color-text);
    border-radius: 35%;
    margin: 6px;
    outline: none;
    box-shadow: var(--shadow-box);
    
    background: var(--color-click);
}

.b_t_suivant::-moz-focus-inner {
    border: 0;  
}

.b_t_suivant:active {
    box-shadow: var(--shadow-box-active);
}


/* Points de vie */
.pv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    /*! margin-bottom: 30px; */
    height: 30%;
}

.pv_container {
    background-color: rgba(0, 0, 0, 0.315);
    display: flex;
    margin-top: 7px;
    
    padding: 5px;
    color: var(--color-text);
    font-family: 'Courgette', serif;
    text-shadow: var(--shadow-text);
    border-radius: 10px;
}

.pv_chiffres {
    display: flex;
    width: 58px;
    height: 40px;
    border: 3px solid var(--color-text);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-size: 1.4em;
    
}

#vous {
    background: green;
}

#adv {
    background: red;
}

.pv_barre {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    font-size: 1.3em;
}

.pv_barre_bg {
    display: flex;
    height: 20px;
    border: 1px solid var(--color-text);
    margin-left: -22px;
    background-color: rgba(0, 0, 0, 0.315);
}

#barreJ1 {
    display: flex;
    background: var(--color-text-old);
    height: 20px;
    
    /*width: 80px;*/
}
.blue {
	background-color: blue; 
	border: 1px dotted #000000e0;
}

.yellow {
	background-color: yellow; 
	border: 1px dotted #000000e0;
}

.green {
	background-color: green; 
	border: 1px dotted #000000e0;
}

.bateau {
	border: 1px dotted #000000e0;
	width: 15px;
}

.z-detect {
    background-color: #007eff;
    border: 1px dotted #000000e0;
}


.zone {
    background-color: #88a7ec; 
	border: 1px dotted #000000e0;
}

.z-tir {
  position: absolute;
  left: -9999px;
}

.container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

.blue-tir {
  background-color: blue; 
  border: 1px dotted #000000e0;
  width: 15px;
  height: 15px;
}

.zone-tir {
  background-color: #88a7ec; 
  border: 1px dotted #000000e0;
  width: 15px;
  height: 15px;
}

.z-detect-tir {
  background-color: #007eff; 
  border: 1px dotted #000000e0;
  width: 15px;
  height: 15px;
}

.blue-tir:hover, .zone-tir:hover, .z-detect-tir:hover {
  background-color: #00f8;
}

.z-tir:checked + .blue-tir:hover, .z-tir:checked + .zone-tir:hover, .z-detect-tir:checked + .l-tir-z:hover, {
     background-color: #ca595388;
}


.z-tir:checked + .blue-tir, .z-tir:checked + .zone-tir, .z-tir:checked + .z-detect-tir {
  background-color: #ca5953;
}

.liste_container {
    margin: 20px;
    border : 2px solid black;
    overflow-y: scroll;
    height: 55vh;
}

#titre {
    position: sticky;
    top: 0;
    margin: 10px;
    background: 0;
}

.liste_ligne {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 8px;
    color: var(--color-text);
    background: rgba(0, 0, 0, 0.315);
    font-family: 'Courgette', serif;
    font-size: 1.4em;
    text-shadow: var(--shadow-text);

}

.liste_box {
    width: 18%;
    text-align: center;
}

#nom_partie {
    width: 29%;
}

#faux_boutton {
    background: red;
    width: 10px;
    height: 10px;
}

.btn_rejoindre {
    background: none;
    border: none;
    color: var(--color-click);
    padding-left: 10px;
    font-family: 'Courgette', serif;
    font-size: 1em;
    border-radius: 30%;
    text-shadow: var(--shadow-text);

}

.btn_rejoindre:hover {
    background: rgba(0, 0, 0, 0.315);
    padding-left: 15px;
    padding-right: 15px;
    
}

.btn_rejoindre::-moz-focus-inner {
    border: 0;  
}

#quitter {
    margin-top: 35vh;
}
